@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the Sofia Pro font family */
@font-face {
    font-family: 'Sofia Pro';
    src:url('./fonts/Sofia Pro Bold Az.otf') format('otf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/Sofia Pro Regular Az.otf') format('otf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Sofia Pro';
    src: url('./fonts/Sofia Pro Light Az.otf') format('otf');
    font-weight: 300; /* Light */
    font-style: normal;
    font-display: swap;
  }


/* Custom classes */

.custom-heading {
  font-family: 'Sofia Pro', sans-serif;
  font-weight: bold;
}

.custom-paragraph {
  font-family: 'Sofia Pro', sans-serif;
  font-weight: normal;
}